$color-orange: #FD7E37;
$color-white: #FFFFFF;
$color-dark: #331100;
$color-border-section: #707070;
$color-shadow-card: #00000029;
$color-overlay-hero: #00000080;
$color-date-font: #663014;
$color-placeholder: #33110080;