.page-news {
    background-color: $color-white;
    padding: 4rem 0;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3.2rem;
        row-gap: 4rem;
        margin-bottom: 4rem;
        @media screen and (min-width: 49.5em) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 62em) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}