.page-student {
    background-color: $color-white;
    padding: 4rem 0;
    .student-avatar-large {
        max-height: 40.4rem;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .about-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3.6rem;
        row-gap: 4rem;
        @media screen and (min-width: 36em) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 62em) {
            grid-template-columns: repeat(4, 1fr);
        }
        .about-title {
            font-family: 'Raleway', sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        .about-item:last-child{
            grid-column: 1 / -1;
            font-size: 2.4rem;
        }
    }
}