.page-courses-details {
    background-color: $color-white;
    .courses-details-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../img/courses-card-img-1@2x.jpg);
        background-size: cover;
        background-position: center;
        border: 1px solid $color-border-section;
        min-height: 40rem;
        .section-title{
            color: $color-white;
        }
    }
    .container {
        padding-top: 4rem;
        padding-bottom: 4rem;
        max-width: 84rem;
    }
    .main-text-semi {
        margin-bottom: 2rem;
    }
}